<div class="container">
    <div class="first_user">
        <div class="user_img">
            <img src="../../assets/person2.svg" alt="">
        </div>
        <div class="about_user">
            <div class="user_name">
                <p class="user">Erkebulan</p>
                <div class="git">github</div>
            </div>
            <div class="user_info">
                Made design, api queries, statistics, sprint game, did some layout and supervised development.
            </div>
        </div>
    </div>

    <div class="first_user">
        <div class="user_img">
            <img src="../../assets/person1.svg" alt="">
        </div>
        <div class="about_user">
            <div class="user_name">
                <p class="user">Nazym</p>
                <div class="git">github</div>
            </div>
            <div class="user_info">
                Authorization / registration module, Audio Challenge game, collection of statistics, routing, typing of the studied words.
            </div>
        </div>
    </div>

    <div class="first_user">
        <div class="user_img">
            <img src="../../assets/person3.svg" alt="">
        </div>
        <div class="about_user">
            <div class="user_name">
                <p class="user">Sanzhar</p>
                <div class="git">github</div>
            </div>
            <div class="user_info">
                Made the application home page, e-textbook, layout, and adaptive.
            </div>
        </div>
    </div>
</div>