<div class="main_page">
    <div class="orange_side">
        <p class="logo">MLforces</p>
        <img src="../../assets/saly.svg" class="first_img" alt="">
    </div>
    <div class="white_side">
        <img src="../../assets/saly2.svg" class="second_img" alt="">
    </div>
</div>

<div class="forma">
    <div class="forma_top">
        <div class="title_sign">
            <div class="title">Welcome to MLforces</div>
            <div class="sign_in">Sign in</div>
        </div>
        <div class="no_acc_sign">No Account ?
            <span class="sign_span">Sign up</span></div>
    </div>

    <div class="divka">
        <div class="username">
            <p class="enter_your">Enter your username or email address</p>
            <input class="input_enter" type="text" placeholder="Username or email address" name="username" [(ngModel)]="username">
        </div>
    
        <div class="password">
            <p class="enter_your">Enter your Password</p>
            <input class="input_enter" [type]="showPassword ? 'text' : 'password'" placeholder="Password" name="password" [(ngModel)]="password">
            <img src="../../assets/eye.svg" alt="" class="eye_img" (click)="togglePasswordVisibility()">
        </div>
    
        <div class="forgot">Forgot Password</div>
    </div>

    <button class="sign_btn" (click)="login()">Sign in</button>

    <div class="div_or">OR</div>

    <div class="link_soc">
        <div class="google_div">
            <img src="../../assets/google.svg" alt="">
            <div>Sign in with Google</div>
        </div>
        <div class="icon"><img src="../../assets/Facebook.svg" alt=""></div>
        <div class="icon"><img src="../../assets/apple.svg" alt=""></div>
    </div>

</div>
