<div class="main_content">
    <div class="left_content">
        <div class="div_text">
            <p class="main_title">Learning and
                teaching online,
                made easy.</p>
            <p class="mini_text">Practice your ML skils and learn new things with the platform.</p>
        </div>

        <button class="btn_about" [routerLink]="['/about']">About platform</button>
    </div>


    <div class="right_content">
        <img src="../../assets/boy.png" alt="boy" class="img_boy">
    </div>
</div>

<div class="textbook">
    <div class="text_btn">
        <div class="title_and_miniText">
            <p class="inc_text">Increase your solving skills</p>
            <p class="mini_inc_text">Traditional and new effective approaches to word study</p>
        </div>
    
        <button class="btn_textbook" [routerLink]="['/tasks']">Task→</button>
    </div>

    <div>
        <img class="img_girl" src="../../assets/img_girl.svg" alt="girl">
    </div>
</div>

<div class="statistics">
    <div>
        <img src="../../assets/stata.svg" alt="girl and boy">
    </div>

    <div class="text_btn">
        <div class="title_and_miniText">
            <p class="inc_text">Watch your progress every day</p>
            <p class="mini_inc_text">Save statistics on your achievements, words learned, and mistakes</p>
        </div>
    
        <button class="btn_textbook" [routerLink]="['/statistics']">Statistics→</button>
    </div>
</div>