<div class="main_page">
    <div class="orange_side">
        <p class="logo">MLforces</p>
        <img src="../../assets/saly.svg" class="first_img" alt="">
    </div>
    <div class="white_side">
        <img src="../../assets/saly2.svg" class="second_img" alt="">
    </div>
</div>

<div class="forma">
    <div class="forma_top">
        <div class="title_sign">
            <div class="title">Welcome to MLforces</div>
            <div class="sign_in">Sign up</div>
        </div>
        <div class="no_acc_sign">
            Have an Account ?
            <br>
            <span class="sign_span">Sign in</span>
        </div>
    </div>

    <div class="divka">
        <div class="username">
            <p class="enter_your">Enter your username or email address</p>
            <input class="input_enter" type="text" placeholder="Username or email address">
        </div>

        <div class="name_and_contact">
            <div class="user_name">
                <p class="enter_your_nc">User name</p>
                <input class="input_enter_nc" type="text" placeholder="User name">
            </div>

            <div class="contact">
                <p class="enter_your_nc">Contact Number</p>
                <input class="input_enter_nc" type="text" placeholder="Contact Number">
            </div>

        </div>
    
        <div class="password">
            <p class="enter_your">Enter your Password</p>
            <input class="input_enter" type="password" placeholder="Password">
        </div>
    
    </div>

    <button class="sign_btn">Sign up</button>

</div>