
<footer>
    <div class="footer_top">
        <div class="left_side">
            <p>Home</p>
            <p>Textbook</p>
            <p>Statistics</p>
            <!-- <p>Sprint</p>
            <p>Audio-call</p> -->
        </div>

        <div class="right_side">
            <p>Erkebulan</p>
            <p>Sanzhar</p>
            <p>Nazym</p>
        </div>
    </div>

    <div>
        <img src="../../assets/vector3.svg" alt="divider">
    </div>

    <div class="footer_bottom">
        <div class="icons">
            <img src="../../assets/icon1.svg" alt="">
            <img src="../../assets/icon2.svg" alt="">
            <img src="../../assets/icon3.svg" alt="">
        </div>

        <div class="info">©2024 MLforces. Project for <span class="glo">Web Dev</span>.</div>
    </div>
</footer>