<!-- <main>
    <div class="main2">
        <div class="left_img">
            <img src="../../assets/image_54.svg" alt="">
        </div>
    
        <div class="right_text">
            <div class="title_desk">
                <div class="title1">Sorry, statistics not available 🥺</div>
                <div class="desk">To get statistics and keep track of your results, register or log in to your account</div>
            </div>
            <div class="log_sign">
                <p class="log">Log In →</p>
                <button class="sign_btn">Sign Up</button>
            </div>
        </div>
    </div>
</main> -->

<main>
    <div class="main2">
        <div class="left_img">
            <img src="../../assets/read_boy.svg" alt="">
        </div>
    
        <div class="right_text">
            <div class="title_desk">
                <div class="title2">No words in this section yet</div>
                <div class="desk">To save difficult words for further study, go to the textbook and select 'add to dictionary'</div>
            </div>
            <div class="log_sign">
                <button class="sign_btn">To Textbook</button>
            </div>
        </div>
    </div>
</main>