.card {
    border-radius: 10px;
    border: none;
}

.card-header {
    font-size: 20px;
}

.card-body {
    line-height: 1.6;
    font-size: 16px;
}

.card-footer {
    font-size: 14px;
}

.div {
    /* height: 80vh;
     */
    
    height: auto;
}